<div class="HideFromPrinting Footer FTORelative">
    <div class="FooterVersion">
        Ver: 25.07.0
        @* 
            Pre-go-live:  0.0.x where x is the Sprint
            Post-go-live: YY.ZZ.# where YY.ZZ is the Sprint (also year and month) and # is the number of the release (that month, including hot fixes, starting with "0")
        *@
    </div>
    <div class="FooterTagline">Built on Purpose</div>
    <div class="FooterKAPBCS">KAPBCS</div>
</div>