@using System.Security.Claims;

<div class="LeftMenu">
    <div class="LeftMenuContent">
        <h2>Apps</h2>
        <p class="Icons">
            <div class="LeftMenuO365IconBox">
                <a href="https://outlook.office.com/mail/inbox">
                    <img class="LeftMenuO365HoverIcon" src="/images/O365/O365Apps1OutlookHover.png" />
                    <img class="LeftMenuO365RegularIcon" src="/images/O365/O365Apps1Outlook.png" />
                </a>
            </div>
            <div class="LeftMenuO365IconBox">
                <a href="https://sundtconstruction-my.sharepoint.com/">
                    <img class="LeftMenuO365HoverIcon" src="/images/O365/O365Apps2OneDriveHover.png" />
                    <img class="LeftMenuO365RegularIcon" src="/images/O365/O365Apps2OneDrive.png" />
                </a>
            </div>
            <div class="LeftMenuO365IconBox">
                <a href="https://www.office.com/launch/word?auth=2">
                    <img class="LeftMenuO365HoverIcon" src="/images/O365/O365Apps3WordHover.png" />
                    <img class="LeftMenuO365RegularIcon" src="/images/O365/O365Apps3Word.png" />
                </a>
            </div>
            <div class="LeftMenuO365IconBox">
                <a href="https://www.office.com/launch/excel?auth=2">
                    <img class="LeftMenuO365HoverIcon" src="/images/O365/O365Apps4ExcelHover.png" />
                    <img class="LeftMenuO365RegularIcon" src="/images/O365/O365Apps4Excel.png" />
                </a>
            </div>
            <div class="LeftMenuO365IconBox">
                <a href="https://www.office.com/launch/powerpoint?auth=2">
                    <img class="LeftMenuO365HoverIcon" src="/images/O365/O365Apps5PowerPointHover.png" />
                    <img class="LeftMenuO365RegularIcon" src="/images/O365/O365Apps5PowerPoint.png" />
                </a>
            </div>
            <div class="LeftMenuO365IconBox">
                <a href="https://www.office.com/launch/onenote?auth=2">
                    <img class="LeftMenuO365HoverIcon" src="/images/O365/O365Apps6OneNoteHover.png" />
                    <img class="LeftMenuO365RegularIcon" src="/images/O365/O365Apps6OneNote.png" />
                </a>
            </div>
            <div class="LeftMenuO365IconBox">
                <a href="https://teams.microsoft.com/">
                    <img class="LeftMenuO365HoverIcon" src="/images/O365/O365Apps7TeamsHover.png" />
                    <img class="LeftMenuO365RegularIcon" src="/images/O365/O365Apps7Teams.png" />
                </a>
            </div>
            <div class="LeftMenuO365IconBox">
                <a href="https://outlook.office.com/calendar/">
                    <img class="LeftMenuO365HoverIcon" src="/images/O365/O365Apps8Calendar9Hover.png" />
                    <img class="LeftMenuO365RegularIcon" src="/images/O365/O365Apps8Calendar9.png" />
                </a>
            </div>
        </p>
        <div class="LeftMenuContentAllDocs">
            <h2>Documents</h2>
            <p>
                <a class="LeftMenuLink" href="https://www.office.com/?auth=2&home=1&section=recentdocs">All docs</a> &nbsp;<a href="https://www.office.com/?auth=2&home=1&section=recentdocs"><img src="/images/O365/LeftMenuO365Arrow.png" /></a>
            </p>
        </div>
    </div>
</div>